In [9]:
from sentence_transformers import SentenceTransformer
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("sample.csv")
df

                                                text category
0      Meditation and yoga can improve mental health   Health
1  Fruits, whole grains and vegetables helps cont...   Health
2  These are the latest fashion trends for this week  Fashion
3  Vibrant color jeans for male are becoming a trend  Fashion
4                 The concert starts at 7 PM tonight    Event
5  Navaratri dandiya program at Expo center in Mu...    Event
6  Exciting vacation destinations for your next trip   Travel
7  Maldives and Srilanka are gaining popularity i...   Travel

## Create embeddings for text column

In [4]:
encoder = SentenceTransformer("all-mpnet-base-v2")
vectors = encoder.encode(df.text)

In [6]:
dim = vectors.shape[1]
dim

768

## Build a FAISS Index for vectors

In [8]:
import faiss
index = faiss.IndexFlatL2(dim)

# Normalize the source vectors (as we are using L2 distance to measure similarity) and add to the index
index.add(vectors)

## Encode search text using same encorder and normalize the output vector

In [10]:
search_query = "I want to buy a polo t-shirt"
vec = encoder.encode(search_query)
print("vector shape", vec.shape)
svec = np.array(vec).reshape(1,-1)
print(svec.shape)

vector shape (768,)
(1, 768)

## Search for similar vector in the FAISS index created

In [13]:
distances, I = index.search(svec, k=2)
row_indices = I.tolist()[0]
df.loc[row_indices]

                                                text category
3  Vibrant color jeans for male are becoming a trend  Fashion
2  These are the latest fashion trends for this week  Fashion